<h1>Voici toutes les listes existantes</h1>
<p>
<%= link_to 'Créer une nouvelle liste', new_list_path %>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
</ul>
