<h1>Voici toutes les listes existantes</h1>
<%= link_to 'Créer une nouvelle liste', new_list_path %>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
</ul>


<%= cl_image_tag("n1st2zttr0x9j6h5jryg",
      width: 400, height: 300, crop: :fill) %>
